
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.playfair-display-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

*{
    scroll-behavior: smooth;
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}

header h1{
    color:rgb(255, 238, 0);
    background-color:rgb(10, 126, 28);
    margin: 0;
    padding:1em;
    font-size:2.2em;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
 
}
nav{
    display:inline-flex;
    flex-direction: row;
}

li{list-style-type: none;;
    font-size:2em;
    padding-left:1em;
    color:yellow;
    background-color: rgb(10, 126, 28);
}